<div class="container">
  <h2>Show Result</h2>
  <% @evaluation_results.each do |evaluation_result| %>
  
    <p><strong>Total:</strong><%= sprintf('%.4f', evaluation_result.total_percentage) %></p>
    <hr>
  <% end %>
</div>
