<h1>Instructors#index</h1>
<p>Find me in app/views/instructors/index.html.erb</p>
<ul>
  <% @instructors.each do |instructor| %>
    <li><%= link_to instructor.name, instructor_path(instructor) %>&nbsp;&nbsp;&nbsp;
    <%= link_to "Edit instructor", edit_instructor_path(instructor) %>&nbsp;&nbsp;&nbsp;
    <%= link_to 'Delete', instructor_path(instructor), method: :delete, data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %> 
    </li>
    
  <% end %>
  </ul>
<%= link_to "New instructor", new_instructor_path %>