<h1>Instructors#index</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
        <td><%= link_to instructor.name, instructor_path(instructor) %></td>
        <td>
          <%= link_to "Edit", edit_instructor_path(instructor), class: "btn btn-primary me-2" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "New instructor", new_instructor_path, class: "btn btn-success" %>
