<header class="d-flex flex-wrap align-items-center justify-content-between py-3 border-bottom bg-dark">
  <div class="d-flex align-items-start mx-5 mb-2 mb-md-0">
    <%# <a href="#" class="ms-1 text-white text-decoration-none">
      <i class="fs-1 bi bi-list"></i>
    </a> %>
    <a href="/" class="ms-2 text-white text-decoration-none">
      <i class="fs-1 bi-house"></i>
    </a>
  </div>



      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2">Login</button>
      </div>
</header>