<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mx-5 mb-2 mb-md-0 text-dark text-decoration-none">
        <i class="fs-1 bi-house" ></i>
      </a>



      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2">Login</button>
        <button type="button" class="btn btn-primary">Sign-up</button>
      </div>
    </header>