<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li>
            <%= link_to admin_index_path, class: 'nav-link px-0 align-middle', id: "dashboard-link"   do %>
            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
            <% end %>
        </li>
            <li>
                <%= link_to evaluation_path, class: 'nav-link px-0 align-middle', id: "evaluation-link" do %>
                <i class="fs-4 bi-kanban"></i> <span class="ms-1 d-none d-sm-inline">Evaluation</span>
                <% end %>
            </li>
            <li>
                <%= link_to evaluation_result_path(current_user), class: 'nav-link px-0 align-middle', id: "evaluation-link" do %>
                <i class="fs-4 bi bi-view-list"></i><span class="ms-1 d-none d-sm-inline">View Evaluation Result</span>
                <% end %>
            </li>
        </ul>
    </div>