<h1>Colleges#edit</h1>
<%= form_with(model: @college, url: college_path(@college), method: :put) do |form| %>
  <div class="mb-3">
    <%= form.label :college_name, class: "form-label" %>
    <%= form.text_field :college_name, value: @college.college_name, class: "form-control" %>
  </div>
  
  <%= form.submit "Update College", class: "btn btn-primary" %>
<% end %>
