<h1>Courses#index</h1>
<table class="table">
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.course_name, course_path(course) %></td>
        <td>
          <%= link_to "Edit", edit_course_path(course), class: "btn btn-primary me-2" %>
          <%= link_to "Delete", course_path(course), method: :delete, data: {
                          turbo_method: :delete,
                          turbo_confirm: "Are you sure?"
                        }, class: "btn btn-danger", remote: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New course", new_course_path, class: "btn btn-success" %>
