<h1>Courses#new</h1>
<%= form_with(model: @course, url: courses_path, class: "needs-validation", novalidate: true) do |form| %>
  <div class="mb-3">
    <%= form.label :course_name, class: "form-label" %>
    <%= form.text_field :course_name, class: "form-control", required: true %>
    <div class="invalid-feedback">
      Please provide a course name.
    </div>
  </div>

  <%= form.submit "Create Course", class: "btn btn-primary" %>
<% end %>
